{% extends 'main.html' %}
{% load staticfiles %}

{% block about %}active{% endblock %}
{% block content %}
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--/* about SECTION */-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section id="about">

    <div class="container">

        <h1 class="parallaxLetter letter1" data-stellar-ratio="1.5" data-stellar-vertical-offset="0">T</h1>
        <h1 class="parallaxLetter letter2" data-stellar-ratio="0.5" data-stellar-vertical-offset="100">R</h1>


        <!--header-->
        <div class="row sectionIntro">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 data-scroll-reveal="enter top move 3px over 1s after 0.1s">
                    <span>What We Do</span>
                </h2>
                <p style="font-size:18px" data-scroll-reveal="enter bottom move 3px over 1s after 0.1s">
                    We want to actualize the creative ideas of our partners in order to solve challenging problems.
                </p>

                <img src="{% static 'img/separatorBlack.png' %}" class="img-responsive center-block separator" alt="separator">

            </div>
        </div>
        <!--end header-->

    </div>

</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--/* END about SECTION */-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--/* services SECTION */-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section id="services">
    <div class="serviceBox introServiceBox text-center">
        <div class="black-overlay"></div>
        <h2 data-scroll-reveal="enter left move 10px over 1s after 0.2s">
            
        </h2>
    </div>


    <div class="serviceBox whiteBox text-center" >
        <div class="valign">
            <h4 data-scroll-reveal="enter right move 10px over 1s after 0.6s">
                <span>Planning</span>
            </h4>
            <img data-scroll-reveal="enter right move 10px over 1s after 1s" class="separator center-block img-responsive" src="{% static 'img/separatorBlack.png' %}" alt="separator">
            <p data-scroll-reveal="enter right move 10px over 1s after 1s">
                We work closely with our partners to make sure the product we build meets their goals and specifications. 
            </p>
        </div>
    </div>

    <div class="serviceBox whiteBox text-center">
        <div class="valign">
            <h4 data-scroll-reveal="enter left move 10px over 1s after 0.2s">
                <span>Implementation</span>
            </h4>
            <img class="separator center-block img-responsive" src="{% static 'img/separatorBlack.png' %}" alt="separator" data-scroll-reveal="enter left move 10px over 1s after 0.2s">
            <p data-scroll-reveal="enter left move 10px over 1s after 0.2s">
                We use robust and reliable technologies in order to develop everything from iOS applications to analytical backend systems. 
            </p>
        </div>
    </div>

    <div class="serviceBox blackBox text-center">
        <div class="valign">
            <i class="fa fa-code fa-4x" data-scroll-reveal="enter right move 10px over 1s after 0.2s"></i>
        </div>
    </div>


    <div class="serviceBox blackBox text-center">
        <div class="valign">
            <i class="fa fa-clock-o fa-4x" data-scroll-reveal="enter left move 10px over 1s after 0.2s"></i>
        </div>
    </div>


    <div class="serviceBox whiteBox text-center">
        <div class="valign">
            <h4 data-scroll-reveal="enter right move 10px over 1s after 0.2s">
                <span>Durability</span>
            </h4>
            <img class="separator center-block img-responsive" src="{% static 'img/separatorBlack.png' %}" alt="separator" data-scroll-reveal="enter right move 10px over 1s after 0.8s">
            <p data-scroll-reveal="enter right move 10px over 1s after 0.8s">
                We stand by our partners to ensure our software continues to fit their evolving needs.
            </p>
        </div>
    </div>

</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--/* end services SECTION */-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--/* TEXT SEPARATOR */-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section id="text-separator-timers">
    <div class="container-fluid">
        <!-- <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 text-center timerWrapper">
                <h1>
                    <span class="timer1"></span>
                </h1>
                <p>Happy Clients</p>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 text-center timerWrapper">
                <h1>
                    <span class="timer2"></span> K+
                </h1>
                <p>Facebook Likes</p>
            </div>


            <div class="col-md-3 col-sm-6 col-xs-12 text-center timerWrapper">
                <h1>
                    <span class="timer3"></span>
                </h1>
                <p>Awards</p>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 text-center timerWrapper">
                <h1>
                    <span class="timer4"></span>
                </h1>
                <p>ReTweets</p>
            </div>

        </div> -->

    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--/* END TEXT SEPARATOR */-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
{% endblock %}