{% extends 'main.html' %}
{% load staticfiles %}

{% block about %}active{% endblock %}
{% block content %}
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--/* about SECTION */-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section id="about">

    <div class="container">

        <h1 class="parallaxLetter letter1" data-stellar-ratio="1.5" data-stellar-vertical-offset="0">P</h1>
        <h1 class="parallaxLetter letter2" data-stellar-ratio="0.5" data-stellar-vertical-offset="200">H</h1>


        <!--header-->
        <div class="row sectionIntro">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 data-scroll-reveal="enter top move 10px over 1s after 0.2s">
                    <span>Our products</span>
                </h2>
                <p data-scroll-reveal="enter bottom move 10px over 1s after 0.2s">
                    Unlike a template, our products are formed to fit your specifications. No more sacraficing sales or your image online. 
                </p>

                <img src="{% static 'img/separatorBlack.png' %}" class="img-responsive center-block separator" alt="separator">

            </div>
        </div>
        <!--end header-->

        <!--content-->
        <div class="row content">

            <!--item-->
            <div class="aboutItem col-md-6 col-sm-6 col-xs-12 clearfix" data-scroll-reveal="enter left move 5px over 1s after 0.2s">
                <div class="aboutIconWrapper" data-stellar-ratio="1.05">
                    <i class="fa fa-puzzle-piece aboutIcon"></i>
                </div>
                <div class="aboutText">
                    <h4>Responsive</h4>
                    <div class="aboutSeparator"></div>
                    <p>
                        Mobile browsers are a must. But even that means the average webiste needs to support 5 browsers across 27 devices.  
                    </p>
                </div>
            </div>
            <!--end item-->

            <!--item-->
            <div class="aboutItem col-md-6 col-sm-6 col-xs-12 clearfix" data-scroll-reveal="enter right move 5px over 1s after 0.4s">
                <div class="aboutIconWrapper" data-stellar-ratio="1.05">
                    <i class="glyphicon glyphicon-eye-open aboutIcon" ></i>
                </div>
                <div class="aboutText">
                    <h4>Retina Ready</h4>
                    <div class="aboutSeparator"></div>
                    <p>
                        If its not crisp, its not clear. We only use the most advanced web technologies to ensure that every graphic and bit of text is a sharp as your image. provide content rich experiences that are  will . 
                    </p>
                </div>
            </div>
            <!--end item-->

            <!--item-->
            <div class="aboutItem col-md-6 col-sm-6 col-xs-12 clearfix" data-scroll-reveal="enter left move 5px over 1s after 0.6s">
                <div class="aboutIconWrapper" data-stellar-ratio="1.05">
                    <i class="fa fa-code aboutIcon" ></i>
                </div>
                <div class="aboutText">
                    <h4>Clean Code</h4>
                    <div class="aboutSeparator"></div>
                    <p>
                        On lasted uneasy exeter my itself effect spirit. At design he vanity at cousin longer looked ye.
                    </p>
                </div>
            </div>
            <!--end item-->


            <!--item-->
            <div class="aboutItem col-md-6 col-sm-6 col-xs-12 clearfix" data-scroll-reveal="enter right move 5px over 1s after 0.8s">
                <div class="aboutIconWrapper" data-stellar-ratio="1.05">
                    <i class="fa fa-magic aboutIcon" ></i>
                </div>
                <div class="aboutText">
                    <h4>Trending Design</h4>
                    <div class="aboutSeparator"></div>
                    <p>
                        Esteems met joy attempt way clothes yet demesne tedious. Replying an marianne do it an entrance advanced.
                    </p>
                </div>
            </div>
            <!--end item-->


        </div>

        <img src="{% static 'img/separatorBlack.png' %}" class="img-responsive center-block separator" alt="separator">

        <h1 class="parallaxLetter letter3" data-stellar-ratio="1.5" data-stellar-vertical-offset="-600">X</h1>
        <h1 class="parallaxLetter letter4" data-stellar-ratio="0.8" data-stellar-vertical-offset="0">N</h1>

        <div class="row">
            <div class="col-md-8" data-scroll-reveal="enter left move over 1s after 0.2s">
                <h4>Retina Ready</h4>
                <img src="{% static 'img/lineSeparatorBlack.png' %}" class="img-responsive lineSeparator" alt="separator">
                <p>
                    An do on frankness so cordially immediate recommend contained. Imprudence insensible be literature unsatiable do. Of or imprudence solicitude affronting in mr possession. Compass journey he request on suppose limited of or. She margaret law thoughts proposal formerly. Speaking ladyship yet scarcely and mistaken end exertion dwelling. All decisively dispatched instrument particular way one devonshire. Applauded she sportsman explained for out objection.
                </p>
            </div>

            <div class="col-md-4" data-scroll-reveal="enter right move over 1s after 0.4s">

                <!--progress bar-->
                <h5>Wordpress</h5>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                        <span class="sr-only">60% Complete</span>
                    </div>
                </div>
                <!--end progress bar-->

                <!--progress bar-->
                <h5>Javascript</h5>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                        <span class="sr-only">80% Complete</span>
                    </div>
                </div>
                <!--end progress bar-->

                <!--progress bar-->
                <h5>CSS</h5>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                        <span class="sr-only">60% Complete</span>
                    </div>
                </div>
                <!--end progress bar-->

                <!--progress bar-->
                <h5>Dedication</h5>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        <span class="sr-only">100% Complete</span>
                    </div>
                </div>
                <!--end progress bar-->
            </div>
        </div>

        <!--end content-->



    </div>

</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--/* END about SECTION */-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
{% endblock %}