{% extends 'main.html' %}
{% load staticfiles %}

{% block contact %}active{% endblock %}
{% block content %}
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--/* contact SECTION */-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section id="contact">
    <div class="container">
        <!--header-->
        <div class="row sectionIntro">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 data-scroll-reveal="enter top move over 1s after 0.2s">
                    <span>Contact</span>
                </h2>
                <p data-scroll-reveal="enter bottom move 10px over 1s after 0.2s">
                    Marianne or husbands if at stronger ye. Considered is as middletons uncommonly. Promotion perfectly ye consisted so. His chatty dining for effect ladies active. Equally journey wishing not several behaved chapter she two sir.
                </p>

                <img src="{% static 'img/separatorBlack.png' %}" class="img-responsive center-block separator" alt="separator">

            </div>
        </div>
        <!--end header-->

        <!--content-->
        <div class="row">


            <div class="col-md-6 col-sm-6 col-xs-12" data-scroll-reveal="enter left move over 1s after 0.2s">

                <p class="bold">Dont hesitate to contact us.</p>
                <p>
                    Boisterous he on understood attachment as entreaties ye devonshire. In mile an form snug were been sell. Hastened admitted joy nor absolute gay its. Extremely ham any his departure for contained curiosity defective.
                </p>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 listwrapper">
                        <ul class="infoContact">
                            <li><i class="fa fa-location-arrow"></i> 4435 Berkshire Circle</li>
                            <li>Knoxville</li>
                            <li>TN 27912</li>
                        </ul>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6 listwrapper">
                        <ul class="infoContact">
                            <li><i class="fa fa-phone"></i> 879-890-9767</li>
                            <li>234-890-1213</li>
                        </ul>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 listwrapper">
                        <ul class="infoContact">
                            <li><i class="fa fa-envelope-o"></i> mail@mail.com</li>
                            <li>support@mail.com</li>
                        </ul>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6 listwrapper">
                        <ul class="infoContact">
                            <li><i class="fa fa-clock-o"></i> M-F: 8 AM - 3 PM</li>
                            <li>Sa: 8 AM - 12 PM</li>
                            <li>Su: Closed</li>
                        </ul>
                    </div>

                </div>

                <ul class="socialContact">
                    <li><a class="fa fa-facebook" href="#"></a></li>
                    <li><a class="fa fa-twitter" href="#"></a></li>
                    <li><a class="fa fa-google-plus" href="#"></a></li>
                </ul>

            </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 text-center" data-scroll-reveal="enter right move over 1s after 0.2s">
                        <div id="result"></div>
                        <form method="post" action="contact.php" name="contactform" id="contactform">

                            <fieldset id="contact_form">
                                <label for="name">
                                    <input type="text" name="name" id="name" placeholder="Enter Your Name">
                                </label>

                                <label for="email">
                                    <input type="email" name="email" id="email" placeholder="Enter Your Email">
                                </label>

                                <label for="phone">
                                    <input type="text" name="phone" id="phone" placeholder="Phone Number">
                                </label>

                                <label for="comments">
                                    <textarea name="comments" id="comments" placeholder="Enter Your Message"></textarea>
                                </label>

                                <input type="submit" class="submit btn btn-default btn-black" id="submit" value="Submit">
                            </fieldset>

                        </form>
                    </div>


        </div>
        <!--end content-->
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--/* END contact SECTION */-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
{% endblock %}
