{% extends 'main.html' %}
{% load staticfiles %}

{% block home %}active{% endblock %}
{% block content %}
<!--preloader-->
<div class="ip-header">
    <div class="ip-logo">
        <img class="img-responsive preloaderLogo center-block" src="{% static 'img/logoWhite.png'%}" alt="preloader">
    </div>

    <div class="ip-loader">
        <svg class="ip-inner" width="60px" height="60px" viewBox="0 0 80 80">
            <path class="ip-loader-circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
            <path id="ip-loader-circle" class="ip-loader-circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
        </svg>
    </div>
</div>
<!--end preloader-->

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--/* Intro  */-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section id="intro">
    <div class="black-overlay"></div>
    <div class="container valign">
        <div class="row">
            <div class="col-md-12">
                <img src="{% static 'img/logoWhite.png' %}" class="img-responsive center-block introLogo" alt="Intro Logo">
            </div>
            <div class="col-md-12 text-center">
                <h1>RT Systems </h1>
            </div>

            <div class="col-md-12 text-center">
                <img src="{% static 'img/separatorWhite.png' %}" class="img-responsive center-block separator" alt="separator">
            </div>


            <div class="col-md-8 col-md-offset-2 text-center">
                <p>
                    We’re a small team who loves to see ideas come to life. We enjoy crafting intelligent solutions to match your creativity. We believe data is beautiful and whatever you want to do with it, we want to be a part of it.
                </p>
            </div>

        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--/* END Intro  */-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
{% endblock %}