{% extends 'main.html' %}
{% load staticfiles %}

{% block whoweare %}active{% endblock %}
{% block content %}
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--/* team SECTION */-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section id="team">



    <div class="container">

            <h1 class="parallaxLetter letter1" data-stellar-ratio="2">P</h1>
            <h1 class="parallaxLetter letter2" data-stellar-ratio="0.5">H</h1>


        <!--header-->
        <div class="row sectionIntro">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 data-scroll-reveal="enter top move 10px over 1s after 0.2s">
                    <span>Team</span>
                </h2>
                <p data-scroll-reveal="enter bottom move 10px over 1s after 0.4s">
                    Marianne or husbands if at stronger ye. Considered is as middletons uncommonly. Promotion perfectly ye consisted so. His chatty dining for effect ladies active. Equally journey wishing not several behaved chapter she two sir.
                </p>

                <img src="{% static 'img/separatorBlack.png' %}" class="img-responsive center-block separator" alt="separator">

            </div>
        </div>
        <!--end header-->

        <h1 class="parallaxLetter letter4" data-stellar-ratio="0.8">N</h1>

        <h1 class="parallaxLetter letter3" data-stellar-ratio="1.2">X</h1>

        <!--content-->
        <div class="row content">

            <div class="owl-carousel" id="owl-team">

                <!--member-->
                <div class="teamMember">

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <img src="{% static 'img/team/2.png' %}" class="center-block img-responsive" alt="Team Image">
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 memberDescription">
                        <h2 data-scroll-reveal="enter right move 10px over 1s after 0.2s">Joahna Doe</h2>
                        <p class="position"  data-scroll-reveal="enter right move 10px over 1s after 0.4s">
                            <span>
                                Web Designer
                            </span>
                        </p>

                        <p class="memberParagraph" data-scroll-reveal="enter right move 10px over 1s after 0.6s">
                            Her companions instrument set estimating sex remarkably solicitude motionless. Property men the why smallest graceful day insisted required. Inquiry justice country old placing sitting any ten age. Looking venture justice in evident in totally he do ability.
                        </p>

                        <p class="teamSocial">
                            <a href="http://behance.net/artbreeze" data-scroll-reveal="enter right move 10px over 1s after 0.8s"><i class="fa fa-behance"></i></a>
                            <a href="http://twitter.com/artbreeze02" data-scroll-reveal="enter right move 10px over 1s after 1s"><i class="fa fa-twitter"></i></a>
                            <a href="http://dribbble.com/artbreeze02" data-scroll-reveal="enter right move 10px over 1s after 1.2s"><i class="fa fa-dribbble"></i></a>
                        </p>

                        <img src="{% static 'img/lineSeparatorBlack.png' %}" class="lineSeparator hidden-xs" alt="separator">


                    </div>
                </div>
                <!--end member-->

                <!--member-->
                <div class="teamMember">

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <img src="{% static 'img/team/1.png' %}" class="center-block img-responsive" alt="Team Image">
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 memberDescription">
                        <h2 data-scroll-reveal="enter right move 10px over 1s after 0.2s">John Doe</h2>
                        <p class="position"  data-scroll-reveal="enter right move 10px over 1s after 0.4s">
                            <span>
                                Web Developer
                            </span>
                        </p>

                        <p class="memberParagraph" data-scroll-reveal="enter right move 10px over 1s after 0.6s">
                            Inhabiting discretion the her dispatched decisively boisterous joy. So form were wish open is able of mile of. Waiting express if prevent it we an musical. Especially reasonable travelling she son. Resources resembled forfeited no to zealously. Has procured daughter how friendly followed repeated who surprise.
                        </p>

                        <p class="teamSocial">
                            <a href="http://behance.net/artbreeze" data-scroll-reveal="enter right move 10px over 1s after 0.8s"><i class="fa fa-behance"></i></a>
                            <a href="http://twitter.com/artbreeze02" data-scroll-reveal="enter right move 10px over 1s after 1s"><i class="fa fa-twitter"></i></a>
                            <a href="http://dribbble.com/artbreeze02" data-scroll-reveal="enter right move 10px over 1s after 1.2s"><i class="fa fa-dribbble"></i></a>
                        </p>

                        <img src="{% static 'img/lineSeparatorBlack.png' %}" class="lineSeparator hidden-xs" alt="separator">


                    </div>
                </div>
                <!--end member-->



                <!--member-->
                <div class="teamMember">

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <img src="{% static 'img/team/3.png' %}" class="center-block img-responsive" alt="Team Image">
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 memberDescription">
                        <h2 data-scroll-reveal="enter right move 10px over 1s after 0.2s">Gary Neville</h2>
                        <p class="position"  data-scroll-reveal="enter right move 10px over 1s after 0.4s">
                            <span>
                                Front End Developer
                            </span>
                        </p>

                        <p class="memberParagraph" data-scroll-reveal="enter right move 10px over 1s after 0.6s">
                            Satisfied conveying an dependent contented he gentleman agreeable do be. Warrant private blushes removed an in equally totally if. Delivered dejection necessary objection do mr prevailed. Mr feeling do chiefly cordial in do.
                        </p>

                        <p class="teamSocial">
                            <a href="http://behance.net/artbreeze" data-scroll-reveal="enter right move 10px over 1s after 0.8s"><i class="fa fa-behance"></i></a>
                            <a href="http://twitter.com/artbreeze02" data-scroll-reveal="enter right move 10px over 1s after 1s"><i class="fa fa-twitter"></i></a>
                            <a href="http://dribbble.com/artbreeze02" data-scroll-reveal="enter right move 10px over 1s after 1.2s"><i class="fa fa-dribbble"></i></a>
                        </p>

                        <img src="{% static 'img/lineSeparatorBlack.png' %}" class="lineSeparator hidden-xs" alt="separator">


                    </div>
                </div>
                <!--end member-->


            </div>

        </div>

        <!--end content-->
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--/* END team SECTION */-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
{% endblock %}